#contenido{
  width: 100%;
  padding-top: 5.438%;
}
#titulo_contenido1{
  padding:0% 34.188% 0% 34.125%;
  @include fontsize(60px);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: center;
}
#titulo_contenido2{
  padding:0% 33.063% 0% 32.813%;
  @include fontsize(60px);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 2.938%;
  text-align: center;
}
#titulo_contenido3{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  @include fontsize(20px);
  padding: 0% 29.75% 0% 29.75%;
  text-align: center;
  margin-bottom: 2.75% ;
}
#contenido1 .linea{
  width: 5.188%;
  height: 1px;
  background-color: $negro;
  margin: 0% 47.313% 3.75% 47.438%;
}
.parrafo{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  @include fontsize(20px);
  padding: 0% 18.75% 0% 20%;
  text-align: center;
  margin-bottom: 2.75%;
}
#contenido2{
  max-width: 100%;
  margin-top: 6.188%;
  background-color: $papaya;
}
#contenido2 img{
  display: block;
}
.subcontenido{
  float: left;
  width: 50%;
  height: 100%;
  background-color: $papaya;
  font-family: 'Raleway', sans-serif;
}
.subcontenido.imagen img{
  width: 100%;
  height: 100%;
}
.subcontenido #parrafo2{
  font-weight: 700;
  @include fontsize(36px);
  padding: 8.563% 25.563% 12.125% 12.25%;
  text-align: start;
}
.subcontenido #parrafo3{
  font-weight: 300;
  @include fontsize(36px);
  padding: 0% 25.563% 8.438% 12.25%;
  text-align: start;
}
.subcontenido #imagen{
  padding: 0% 39.813% 14.600% 12.25%;
}
#contenido3 {
  padding-top: 8.313%;
}
#contenido3 h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  @include fontsize(60px);
  padding: 0% 0% 0% 5.25%;
}
#contenido3 .linea{
  width: 5.188%;
  height: 1px;
  background-color: $negro;
  margin: 2.5% 88.438% 5.813% 5.25%;
}
#subcontenedor{
  padding: 0% 5.25% 3.625% 5.25%;
}
#subcontenedor h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
  @include fontsize(30px);
}
#subcontenedor h4{
  padding:2.688% 8.813% 2.688% 6.100%;
}
.subcontenidos1{
  float: left;
  width: 100%;
}
.subcontenidos{
  width: 49%;
  float: left;
  border: solid 1px $gris;
}
.subcontenidos p{
  padding:0% 22.813% 2.688% 6.100%;
}
#some{
  padding-bottom:0.625%;
}
#some2{
  padding-bottom: 2.224%;
}
#enjoy{
  padding-bottom:0.625%;
}
#enjoy2{
  padding-bottom: 2.224%;
}
#contenido3 .estilo{
  font-weight: 400;
  color: $grisoscuro;
}
#contenido3 .buttom{
  margin: 4% 12% 8.5% 43.313%;
}
#contenido3 .buttom a{
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  @include fontsize(20px);
  color: $negro;
  border: solid 1px $negro;
  padding: 2.25% 3.875% 2.25% 3.875%;
}
#contenido3 .buttom a:hover{
  color: $blanco;
  background-color: $negro;
}
#contenido4{
  background-image: url("../../img/manos.png");
  background-size: cover;
}
#contenido4 h2{
  color: $blanco;
  @include fontsize(60px);
  text-align: center;
  padding: 12.5% 23.125% 3.875% 23.125%;
}
#contenido4 p{
  color: $blanco;
  @include fontsize(20px);
  font-weight: 400;
  padding: 0% 38.25% 10.625% 39.75%;
}
#contenido4 p a{
  color: $blanco;
}
#contenido5{
  padding: 6.5% 6.100% 7.375% 6.100%;
  background-color: $posters;
}
#contenido5 h2{
  @include fontsize(60px);
  margin-bottom: 1.75%;
}
#contenido5 .linea{
  width: 5.188%;
  height: 1px;
  background-color: $negro;
  margin-bottom: 6.100%;
}
#subsub1{
  width: 40%;
  float: left;
  background-image: url("../../img/traje.png");
  background-size: cover;
  margin-right: 6%;
  padding-top: 54.300%;
}
#subsub1:hover{
  padding-top: 50%;
  .subsubsub1{
    display: block;
    transition-duration: 1000ms;
  }
}
#subsub1 .subsubsub1{
  display: none;
  padding: 0% 0% 6% 6%;
  @include fontsize(20px);
  font-weight: 700;
  letter-spacing: 2px;
}
.subsubsub1 a{
  color: $blanco;
  text-decoration: none;
}
.subsubsub1 .share{
  float: right;
  padding-right: 6%;
}
#subsub2{
  float: left;
  width: 54%;
}
#sub_barranco{
  width: 100%;
  padding-top: 45%;
  background-image: url("../../img/barranco.png");
  background-size: cover;
  font-family: 'Times New Roman',Times, serif;
  font-weight: bold;
  margin-bottom: 3.925%;
}
#subsub2 #sub_barranco:hover{
  padding-top: 37%;
  .subsubsub1{
    display: block;
  }
}
#subsub2 #sub_barranco .subsubsub1{
  display: none;
  padding: 0% 0% 4.300% 6%;
  @include fontsize(20px);
  font-weight: 700;
  letter-spacing: 2px;
}
#subcafe{
  width: 47%;
  padding-top: 52%;
  float: left;
  background-image: url("../../img/cafe.png");
  background-size: cover;
  margin-right: 6%;
}
#subsub2 #subcafe:hover{
  padding-top: 46%;
  .subsubsub1{
    display: block;
  }
}
#subsub2 #subcafe .subsubsub1{
  display: none;
  padding: 0% 0% 4.300% 6%;
  @include fontsize(20px);
  font-weight: 700;
  letter-spacing: 2px;
}

#sublentes{
  width: 47%;
  padding-top: 52%;
  float: left;
  background-image: url("../../img/lentes.png");
  background-size: cover;
}
#subsub2 #sublentes:hover{
  padding-top: 46%;
  .subsubsub1{
    display: block;
  }
}
#subsub2 #sublentes .subsubsub1{
  display: none;
  padding: 0% 0% 4.300% 6%;
  @include fontsize(20px);
  font-weight: 700;
  letter-spacing: 2px;
}

#contenido5 .buttom{
  margin: 8% 0% 8.5% 39.813%;
}

#contenido5 .buttom a{
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  @include fontsize(20px);
  color: $negro;
  border: solid 1px $negro;
  padding: 2.25% 3.875% 2.25% 3.875%;
}
#contenido5 .buttom a:hover{
  color: $blanco;
  background-color: $negro;
}

