#footer{
  background-color: $posters;
  padding-top: 2.375%;
  padding-bottom: 2.375%;
  padding-right: 5%;
  padding-left: 5%;
  @include fontsize(16px);
}
#footer p{
  width: 50%;
  color: $negro;
  float: left;
}
#footer ul{
  width: 50%;
  float: right;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
}
#footer ul li{
  float: left;
  margin-left: 7%;
}
