#header{
  max-width: 100%;
  background-image: url("../../img/Oso.png");
  background-size: cover;
  position: relative;
}
#header1{
  max-width: 100%;
  padding: 3.125% 0% 52.563% 0%;
}
#header1 h2{
  float: left;
  font-family: 'Montserrat', sans-serif;
}
#header1 h3{
  float: right;
  margin-right: 11%;
  margin-top: 1%;
}
#header1 h2 a{
  color: $blanco;
  text-decoration: none;
  @include fontsize(30px);
}
#header h3 a{
  color: $blanco;
  text-decoration: none;
  @include fontsize(20px);

}
#header1 h2{
  background-color: $negro;
  color: $blanco;
  padding: 1.313% 1.688%;
  margin-left: 12.313%;
}
#header1 h3 a{
  color: $blanco;
  border-top: solid 2px $blanco;
  border-bottom: solid 2px $blanco;
}
#header1 h3 a:hover{
  color: $negro;
  border-color: $negro;
}
.modal{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal ul{
  padding-top: 5.313%;
}
.modal ul li{
  padding-top: 2.188%;
  padding-left: 18.75%;
}
.modal li a{
  font-family: 'Montserrat', sans-serif;
  color: $grisoscuro;
  text-decoration: none;
  @include fontsize(46px);
}
.modal li a:hover{
  color:$blanco;
  text-decoration: underline;
}
.cerrar{
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  @include fontsize(28px);
  font-weight: bold;
}
.cerrar a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: $grisoscuro;
  text-align: center;
  padding: 30%;
  text-decoration: none;
}
.cerrar a:hover{
  color: $blanco;
}
.ocultar {
  display: none;
}
